astroid==1.4.8
cozmo==0.10.0
cozmoclad==1.1.0
isort==4.2.5
lazy-object-proxy==1.2.2
mccabe==0.5.2
numpy==1.11.2
Pillow==3.4.2
protobuf==3.1.0
pygame==1.9.2
pylint==1.6.4
six==1.10.0
tensorflow==0.12.0rc1
wrapt==1.10.8
yapf==0.14.0
